<div class="holder" style="margin-top: 58px;">

<div class="row">
    <p class="text-erd">Hola {{usuario}} ! <a class="btn btn-danger" href="/admin/login/logout"> Cerrar Sesión<i class="fas fa-sing-out-alt"></i></a></p>
</div>

</div>
